.text-updater-node {
    height: 50px;
    border: 1px solid #eee;
    padding: 5px;
    border-radius: 5px;
    background: white;
  }

  .triangle-up {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #555;
}
.trapezoid {
	border-bottom: 50px solid #555;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	height: 0;
	width: 125px;
}

.rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
  }

  .circle {
    height: 50px;
    width: 50px;
    background-color: #555;
    border-radius: 50%;
  }

.parallelogram {
	width: 100px;
	height: 50px;
	transform: skew(20deg);
	background: #555;
}
  
  .text-updater-node label {
    display: block;
    color: #777;
    font-size: 12px;
  }

  .react-flow{
    height: 100vh !important;
  }